services:
  vosk:
    image: alphacep/kaldi-en:latest
    ports:
      - "2700:2700"
    restart: always
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    restart: always
